@charset "ISO-8859-1";

 html, body {
 
  background-image: url('/img/veriapplication_background.png');
 /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#application1 {
	background-color: rgba(0,0,0,.4);
}

h5 {
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	text-shadow: 2px 2px black;
}
